<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Task List</title>
</head>
<body>
    <div class="container" id="app">
        <div class="text-bar">
            <input v-model="inputText" type="text">
            <button @click="addTask">Add task</button>
            <div :class="errore? errorDisplay : errorNoDisplay">Inserire minimo 5 lettere</div>
        </div>
        <div class="task-bar">
            <ul v-if="tasks.length > 0" class="task_list" v-for="(task, index) in tasks">
                {{task.text}}
                <i  @click="changeTaskStatus(index)" :class="tasks[index].done ? circleCheck : circle"></i>
                <i @click="removeTask(index)" class="fa-solid fa-delete-left"></i>
            </ul>
            <h2 class="task_list" v-else>Non ci sono task</h2>
        </div>


    </div>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="js/main.js"></script>
</body>
</html>